
@{
    ViewBag.Title = "List";
}
@model IEnumerable<IssueTracker.Model.ViewModel.AccountByType>

<div class="content-header clearfix">
    <h1 class="pull-left">
        Accounts
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("Edit", "Account")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            Add new
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group" style="margin-bottom: 0px;">

            <div class="panel panel-default" id="grid-panel" style="margin-bottom:5px">
                <div class="panel-body">
                    @(Html.Kendo().Grid<IssueTracker.Model.ViewModel.AccountViewModel>()
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.AccountId)
                                       .ClientTemplate("<a class='btn btn-default btn-xs' onclick='edit(\"#= AccountId #\");'><span class='fa fa-edit' />edit</a>")
                                       .Title("edit").Width(70);
                                columns.Bound(p => p.AccountId)
                                       .ClientTemplate("<a class='btn btn-danger btn-xs' onclick='destroyAccount(\"#= AccountId #\");'><span class='fa fa-remove' />delete</a>")
                                       .Title("delete").Width(70);
                                columns.Bound(p => p.AccountId).Width(180);
                                columns.Bound(p => p.Name).Width(180);
                                columns.Bound(p => p.AccountType).Width(180);

                            })
                            .Scrollable()
                            .Sortable()
                            .Pageable(pageable => pageable
                                .PageSizes(true)
                                .ButtonCount(5)
                            )
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(20)
                                .Read(read => read.Action("Accounts_Read", "Account"))
                            )
                            .HtmlAttributes(new { style = "height: 100%" })
                    )
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var grid;
    $(document).ready(function () {
        grid = $("#grid").data("kendoGrid");
        setGridBlockSize();
    });
    function setGridBlockSize() {
        var h = ($(window).height() - $(".panel-search").outerHeight() - $(".content-header").outerHeight() -
            $(".main-header").outerHeight() - $(".main-footer").outerHeight() - 40);
        $("#grid-panel").height(h);
        $("#grid").height(h - 25);
        $("#main-nav #accounts").addClass("active");
    }
    function destroyAccount(id) {
        var r = confirm("Sei sicuro di voler cancellare l'account?");
        if (r) {
            $.ajax({
                url: '@Url.Action("Account_Destroy", "Account")',
                data: {id: id},
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    alert(data)
                },
                complete: function () {
                    grid.dataSource.read();
                    grid.refresh();
                }
            });

        }
    }
    function edit(id) {
        document.location.href = '@Url.Action("Edit", "Account")' + '?k=' + id;
    }
</script>