@{
    ViewBag.Title = "List";
}
<div class="sidebar">
    <nav class="sidebar-nav">

    </nav>
</div>

<!-- Main content -->
<main class="main">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Account list</a></li>
        <!-- add button -->
        <li class="breadcrumb-menu hidden">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn btn-secondary" href="./"><i class="icon-plus"></i> &nbsp;Add new account</a>
            </div>
        </li>
    </ol>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Traffic &amp; Sales
                    </div>
                    <div class="card-block">
                        <div class="row">

                                <div class="col-sm-6 col-md-3">
                                    <div class="callout callout-default">
                                        <small class="text-muted">Not Assigned</small>
                                        <br>
                                        <strong class="h4" id="notassigned-issue">9,123</strong>
                                    </div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-6 col-md-3">
                                    <div class="callout card-accent-info">
                                        <small class="text-muted">Assigned</small>
                                        <br>
                                        <strong class="h4" id="assigned-issue">22,643</strong>
                                    </div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-6 col-md-3">
                                    <div class="callout callout-warning">
                                        <small class="text-muted">On Progress</small>
                                        <br>
                                        <strong class="h4" id="onprogress-issue">22,643</strong>
                                    </div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-6 col-md-3">
                                    <div class="callout callout-success">
                                        <small class="text-muted">Closed</small>
                                        <br>
                                        <strong class="h4" id="closed-issue">22,643</strong>
                                    </div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-6 col-md-3">
                                    <div class="callout callout-danger">
                                        <small class="text-muted">Suspended</small>
                                        <br>
                                        <strong class="h4" id="suspended-issue">22,643</strong>
                                    </div>
                                </div>
                                <!--/.col-->
                            <!--/.row-->
                            <hr class="m-t-0">
                            <!--/.col-->
                        </div>
                        <!--/.row-->
                        <br>
                        @(Html.Kendo().Grid<IssueTracker.Model.ViewModel.IssueViewModel>()
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.Id)
                                       .ClientTemplate("<a class='btn btn-secondary' onclick='edit(\"#= Id #\");'><span class='fa fa-edit' /></a><a class='btn btn-danger' onclick='destroyAccount(\"#= Id #\");'><span class='fa fa-remove' /></a>")
                                       .Title("").Width(100);
                                columns.Bound(p => p.Title).Width(150);
                                columns.Bound(p => p.StatusDescription).Width(180);
                                columns.Bound(p => p.ProjectName).Width(180);
                                columns.Bound(p => p.AssignedToName).Width(180);

                            })
                            .Scrollable()
                            .Sortable()
                            .Pageable(pageable => pageable
                                .PageSizes(true)
                                .ButtonCount(5)
                            )
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(20)
                                .Read(read => read.Action("Issues_Read", "Issue"))
                            )
                        )
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>